<h1>Owners Index</h1>
<ul>
  <%@owners.each do |owner|%>
  <li>
    <%=link_to owner.to_full, owner_path(owner.id)%>
  </li>
  <%end%>
</ul>

<%=button_to "New Owner", new_owner_path, method: "get"%>

<%=button_to "Many", many_path, method: "get"%>
